.playerOneIndicator {
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ff2b73;
}

.playerTwoIndicator {
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffcd37;
}

.modal-body, .modal-footer, .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
