.game {
  display: grid;
  background-color: #524e4e;
  height: 80vh;
  width: 80vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1px;
}

.mobile-warning {
  display: none;
}

.game-cell {
  display: flex;
  background-color: white;
  align-items: center;
  overflow: visible;
}

.filledCellUser {
  margin: auto;
  height: 80%;
  width: 95%;
  border-radius: 50%;
  background-color: #ff2b73;
}

.filledCellOpponent {
  margin: auto;
  height: 80%;
  width: 95%;
  border-radius: 50%;
  background-color: #ffcd37;
}

@media only screen and (max-width: 600px) {
  .game {
    display: grid;
    background-color: #524e4e;
    height: 55vh;
    width: 55vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1px;
  }

  .mobile-warning {
    display: block;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 5vh;
    padding: 0 2vh;
    text-align: justify;
  }
}