<div *ngIf="finishedLoading">
  <div class="game text-center">
    <ng-container class="game-row" *ngFor="let row of rowsCols.rows">
      <div [id]="row + ' ' + col" (click)="rowClicked($event)" class="game-cell" *ngFor="let col of rowsCols.cols">
        <div [@discInsertedAnimation] *ngIf="userFilledCell(row,col)" class="filledCellUser"></div>
        <div [@discInsertedAnimation] *ngIf="opponentFilledCell(row,col)" class="filledCellOpponent"></div>
      </div>
    </ng-container>
  </div>
  <span class="mobile-warning"> Hey, i can see you're using a mobile device to access this website, please have in mind that this will make the disc animation hideous, sorry about that</span>
</div>