@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.header {
  height:10vh;
}

.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}
